@import 'tailwindcss';

@theme {
  --color-primary: var(--color-teal-500);
  --color-secondary: var(--color-amber-500);
  --color-code-editor: var(--color-neutral-900);
  --color-code-num: var(--color-lime-300);
  --color-code-str: var(--color-green-500);
  --color-code-bool: var(--color-blue-500);
  --color-code-var: var(--color-sky-300);
  --color-code-var-bg: var(--color-sky-950);
  --color-code-fun: var(--color-violet-300);
  --color-code-fun-bg: var(--color-violet-950);
  --color-code-warn: var(--color-orange-300);
  --color-code-warn-bg: var(--color-orange-950);
  --color-code-error: var(--color-red-500);
  --color-code-operator: var(--color-white);
  --color-code-bracket-1: var(--color-fuchsia-400);
  --color-code-bracket-2: var(--color-blue-500);
  --color-code-bracket-3: var(--color-yellow-400);
}

@layer base {
  html {
    @apply font-mono bg-neutral-950 text-neutral-200;
  }

  .dotted-background {
    background-image: radial-gradient(
      circle at 1px 1px,
      var(--color-neutral-800) 1px,
      transparent 0
    );
    background-size: 20px 20px;
  }
}

@layer components {
  .error {
    @apply text-red-500;
  }
  .success {
    @apply text-green-500;
  }
  .info {
    @apply text-blue-500;
  }
  .warning {
    @apply text-yellow-500;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-600;
}
